&__list {
	display: flex;
	width: 100%;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0;

	flex-direction: row;
	justify-content: space-around;

	list-style: none;

	@media only screen and (max-width: 730px) {
		& {
			padding: 0;
			position: absolute;
			top: -130px;

			flex-flow: column wrap;
			justify-content: space-around;

			text-align: center;

			transition: 0.3s;
		}
	}
}