.hotels-search {
	padding-top: 50px;

	text-align: center;

	&__header {
		margin-bottom: 35px; 

		color: $h-text-color;

		font-size: 30px;

		@media only screen and (max-width: 680px) {
			& {
				font-size: $h-text-size;
			}
		}
	}

	@import "elements/_form-header";
	@import "elements/_wrap";
	@import "elements/_map";
}