.search-form {
	width:50%;
	padding-top: 50px;
	padding-bottom: 55px;
	padding-left: 55px;
	padding-right: 55px;
	position: absolute;
	box-sizing: border-box;
	left: 25%;
	top: 0;
	z-index: 3;

	background-color: #fff;

	text-align: left;

	box-shadow: 0 0 20px rgba(0,0,0,0.2);

	@media 	only screen and (max-width: 1155px) {
		& {
			width: 70%;
			left: 15%;
		}
	}

	@media 	only screen and (max-width: 830px) {
		& {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	@media only screen and (max-width: 680px) {
		& {
			width: 100%;
			left: 0;
		}
	}
	
	//import elements
	@import "elements/_wrap";
	@import "elements/_label";
	@import "elements/_date";
	@import "elements/_text-label";
	@import "elements/_counters";
	@import "elements/_btn";
	@import "elements/_counter";
	@import "elements/_submit";
	
	//import modifiers
	@import "modifiers/_wrap--inline";
}