.header {
	background-image: url("../img/photo-background@1x.jpg");
	background-size: 1200px 700px;
	background-position: top;
	
	@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-resolution: 1.5dppx),
	only screen and (min-resolution: 144dpi)  {
		& {
			background-image: url("../img/photo-background@2x.jpg");
		}
	}
	
	//import elements
	@import "elements/_text";
	@import "elements/_welcome";
	@import "elements/_svg-wrap";
	@import "elements/_because";
	@import "elements/_triangle";
	@import "elements/_svg-triangles";
	@import "elements/_text-sedona-description";
	@import "elements/_text-five-reasons";

	//import modifiers
	@import "modifiers/_text--center";
	@import "modifiers/_svg-welcome--blue";
	@import "modifiers/_svg-gorgeous--grey";
	@import "modifiers/_text-sedona--big-white";
	@import "modifiers/_svg-because--white";
	@import "modifiers/_svg-triangles--white";
	@import "modifiers/_desciption-section--white";
}