.advantages {
	display: flex;
	margin-top: 55px;
	margin-bottom: 65px;

	flex-direction: row;
	justify-content: space-around;

	text-align: center;

	@media only screen and (max-width: 680px) {
		& {
			display: block;
		}
	}

	@import "elements/_item";
	@import "elements/_svg";
	@import "elements/_header";
}