.info-line {
	width: 100%;
	display: flex;
	max-height: 260px;
	margin-top: 50px;

	@media only screen and (max-width: 680px) {
		& {
			display: block;
			max-height: 1000px;
		}
	}
	
	//import elements
	@import "elements/_description";
	@import "elements/_header";
	@import "elements/_picture";
	
	//import modifiers
	@import "modifiers/_description--order";
	@import "modifiers/_picture--order";
}