.reasons {
	display: flex;
	padding-top: 50px;
	padding-bottom: 60px;

	flex-direction: row;
	justify-content: space-around;
	
	background-color: #eee;

	text-align: center;

	&__item {
		width: 285px;

		@media 	only screen and (max-width: 920px) {
			& {
				width: 30%;
			}
		}
	}

	&__header {
		margin-top: 0;

		color: $h-text-color;

		font-size: $h-text-size;
		line-height: $h-text-line;
	}

	&__number {
		@extend .number;

		&::before {
			background-color: #000;
			left: 41%;

			@media 	only screen and (max-width: 850px) {
				& {
					left: 39%;
				}
			}
		}

		&::after {
			background-color: #000;
			right: 41%;

			@media 	only screen and (max-width: 850px) {
				& {
					right: 39%;
				}
			}
		}
	}
}