.reasons {
	display: flex;
	padding-top: 50px;
	padding-bottom: 60px;

	flex-direction: row;
	justify-content: space-around;
	
	background-color: #eee;

	text-align: center;

	@media only screen and (max-width: 680px) {
		& {
			display: block;
		}
	}

	@import "elements/_item";
	@import "elements/_header";
	@import "elements/_number";
}