.footer {
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;

	justify-content: space-around;

	@media only screen and (max-width: 480px) {
		& {
			display: block;
			text-align: center;
		}
	}

	@import "elements/_hashtag";
	@import "elements/_social";
	@import "elements/_link";
	@import "elements/_svg";
	@import "elements/_author";
	@import "elements/_website-by";
	@import "elements/_author-svg";
}