.navigation {
	min-height: 65px;
	margin: auto;
	padding-left: 75px;
	padding-right: 75px;
	position: relative;

	background-color: #fff;

	@media 	only screen and (max-width: 1000px) {
		& {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__list {
		display: flex;
		width: 100%;
		margin: 0;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 0;

		flex-direction: row;
		justify-content: space-around;

		list-style: none;

		@media only screen and (max-width: 730px) {
			& {
				padding: 0;
				position: absolute;
				top: -130px;

				flex-flow: column wrap;
				justify-content: space-around;

				text-align: center;

				transition: 0.3s;
			}
		}
	}

	&__item {
		@media only screen and (max-width: 730px) {
			& {
				display: block;
				padding-top: 5px;
				padding-bottom: 5px;

				border-bottom: 1px solid #AAAAAC;

				background-color: $blue;
			}
		}

		&:hover {
			@media only screen and (max-width: 730px) {
				& {
					background-color: $blue-hover;
				}
			}
		}
	}

	&__logo {
		max-height: 45px;
		//for logo sticking to the ceiling
		margin-top: -15px;

		@media only screen and (max-width: 730px) {
			& {
				margin-top: 0;
				order: 2;
			}
		}
	}

	&__link {

		&--text {
			color: #000;

			font-weight: 700;
			text-decoration: none;

			@media only screen and (max-width: 730px) {
				& {
					display: block;

					color: #fff;
				}
			}
		}
	}

	&__link:hover {
		color: #81b3d2;

		@media only screen and (max-width: 730px) {
			& {
				color: #fff;
			}
		}
	}

	&__cross {
		display: none;
		position: absolute;
		top: 2px;
		right: 20px;

		border: none;

		background-color: transparent;

		cursor: pointer;

		@media only screen and (max-width: 730px) {
			& {
				display: block;
			}
		}
	}

	&__svg-cross {
		fill: #fff;
	}

	&__button {
		display: none;
		position: absolute;
		top: 20px;
		right: 20px;

		border: none;

		background-color: #fff;

		cursor: pointer;

		@media only screen and (max-width: 730px) {
			& {
				display: block;
			}
		}
	}

	&__menu {
		fill: $blue;
	}
}