.navigation {
	min-height: 65px;
	margin: auto;
	padding-left: 75px;
	padding-right: 75px;
	position: relative;

	background-color: #fff;

	@media 	only screen and (max-width: 1000px) {
		& {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@import "elements/_list";
	@import "elements/_item";
	@import "elements/_logo";
	@import "elements/_link";
	@import "elements/_cross";
	@import "elements/_svg-cross";
	@import "elements/_button";
	@import "elements/_menu";
}