.page {
	//basic styles for page
	margin: 0;

	background-color: #f2f2f2;
	color: $text-color;

	font-family: $font-family;
	font-size: $text-size;
	line-height: $text-line;
	text-transform: uppercase;
	
	//import elements
	@import "elements/_wraper";
	
	//import modifiers
	@import "modifiers/_wraper--shadow";
}